[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/candysnow
[access "refs/for/refs/*"]
	read = group user/candysnow
	push = group user/candysnow
	label-Code-Review = -2..+2 group user/candysnow
	label-Verified = -1..+1 group user/candysnow
	rebase = group user/candysnow
	removeReviewer = group user/candysnow
	submit = group user/candysnow
[access "refs/heads/*"]
	read = group user/candysnow
	create = group user/candysnow
	push = +force group user/candysnow
	pushMerge = group user/candysnow
[access "refs/tags/*"]
	push = +force group user/candysnow
	pushTag = group user/candysnow
	pushSignedTag = group user/candysnow
